body{
  background-color: #f1f1f1;
  font-family: Arial;
  
}

.Title{
  font-size:x-large;
  font-weight: bold;
}

.EpidemBoard__AccountBlock{
  color: white;
  font-size: x-small;
  font-weight: bold;
  position: absolute;
  background-color: #1b88bf;
  border-color: #1b88bf;
  border-radius: 10px;
  right: 0px;
  top: 2px;
}

.EpidemBoard__Buttons{
  display: block;
  position: absolute;
  background-color: white;
  border-color:white;
  border-style:solid;
  color: black;
  width: 440px;
  height: 60px;
  top: 25px;
  right: 0px;
}

.EpidemBoard__Buttons__Main{
  position: relative;
  font-weight: bold;
  background-color: #1b88bf;
  width: 133px;
  left: 10;
  text-align: center;
  height: 100%;
  border-color: grey;
  border-width: 1px;
}

.EpidemBoard__Buttons__Alerts{
  position: absolute;
  background-color: #1b88bf; 
  font-weight: bold;
  width: 127px;
  height: 100%;
  right: 152px;
  border-color: grey;
  border-width: 1px;
}

.EpidemBoard__Buttons__Inbox{
  position: absolute;
  width: 133px;
  font-weight: bold;
  right: 2px;
  height: 100%;
  border-color: grey;
  border-width: 1px;
  background-color: #1b88bf;
  
}
.EpidemBoard__MainView{
  position: absolute;
  display:block;
  border-style: solid;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-width: .5px;
  top: 100px;
  height: 80%;
  width: 100%;
  background: #fafafa;  

}

.EpidemBoard__MainView__Map{
  position: absolute;
  height: 60%;
  width: 40%;
  top: 20px;
  right: 10px;
  border-style:solid;  
}

.EpidemBoard__MainView__SympthomList{
  position: relative;
  left: auto;
  top: 0px;
  height: 60%;
  width: 40%;
  
  border-style: solid;
}
.EpidemBoard__MainView__SymtphomListbox{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
  border-spacing: 5px;
}

